body {
  font-family: "Averta", sans-serif;
  /* font-weight: 400; */
  color: #1b1a17;
}

.first-half {
  background-image: url(https://zuri.team/img/hero-bg.svg);
  height: 100vh;
}

.zurilogo {
  /* margin-top: 5%;
  margin-left: 46%; */
  display: block;
  padding-top: 50px;
  margin: 0 auto;
  margin-bottom: 50px;
}

h1 {
  text-align: center;
  /* margin-top: 7%; */
  color: #514949;
  font-size: 28px;
  line-height: 34px;
  font-weight: 800px;
  margin-bottom: 36px;
}

.first-text {
  width: 700px;
  text-align: center;
  margin: 0 auto;
  line-height: 25px;
  color: #514949;
  opacity: 0.9;
  font-weight: 400px;
}

.red {
  color: #e7332b;
  text-decoration: none;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: center;
  align-content: space-between;
  margin-top: 7%;
  position: relative;
}

.button1 {
  text-decoration: none;
  width: 13%;
  text-align: center;
  padding: 13px;
  border: 1px solid #e7332b;
  position: absolute;
  left: 33%;
  background-color: #e7332b;
  color: white;
  cursor: pointer;
}

.button2 {
  text-decoration: none;
  width: 15%;
  text-align: center;
  padding: 13px;
  border: 1px solid;
  position: absolute;
  right: 33%;
  color: #e7332b;
  cursor: pointer;
}

.new:hover {
  background-color: white;
}

.button1:hover {
  border: 1px solid #e7332b;
  color: #e7332b;
  background-color: white;
}

.button2:hover {
  border: 1px solid #e7332b;
  color: white;
  background-color: #e7332b;
}

h3 {
  color: #e7332b;
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
}

.second-half {
  margin-top: 15%;
  position: relative;
}

.catch-phrase {
  text-align: center;
  font-size: 24px;
  font-weight: 400px;
  width: 382px;
  display: block;
  color: #514949;
  line-height: 40px;
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 64px;
}

.bgimage1 {
  width: 30%;
  height: 20%;
}

.bgimage2 {
  width: 30%;
  height: 50%;
  position: absolute;
  right: 1%;
}

.columns {
  display: flex;
  justify-content: center;
  align-content: space-between;
}

.column1 {
  width: 20%;
  height: 50%;
  background-color: #fffafa;
  position: absolute;
  left: 7%;
  top: 30%;
  padding: 5% 5% 2% 2%;
  font-size: 16px;
  line-height: 24px;
  color: #514949;
  opacity: 0.9;
}

.column2 {
  width: 20%;
  height: 50%;
  background-color: #fffafa;
  position: absolute;
  left: 36.5%;
  top: 30%;
  padding: 5% 5% 2% 2%;
  font-size: 16px;
  line-height: 24px;
  color: #514949;
  opacity: 0.9;
}

.column3 {
  width: 20%;
  height: 50%;
  background-color: #fffafa;
  position: absolute;
  right: 7%;
  top: 30%;
  padding: 5% 5% 2% 2%;
  font-size: 16px;
  line-height: 24px;
  color: #514949;
  opacity: 0.9;
}

.text {
  text-align: left;
  margin-top: 15%;
  font-weight: 400;
}

.third-half {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 8%;
}

.zurilogo-1 {
  margin-left: 11%;
  margin-bottom: 4%;
}

.first-column {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
}
.col1-link {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: #514949;
  margin-bottom: 15px;
  padding-top: 10px;
}

.second-column {
  margin-left: 9%;
}
.col2-contact {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: #514949;
  margin-bottom: 8px;
  padding-top: 7px;
}
.address {
  font-size: 14px;
  line-height: 20px;
  color: #514949;
  opacity: 0.9;
  margin-bottom: 15px;
}

.third-column {
  margin-bottom: 4%;
}
.col3-follow {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: #514949;
  margin-bottom: 8px;
}

.contact-icon {
  width: 6%;
  height: 6%;
  cursor: pointer;
}

hr {
  width: 85%;
  margin-bottom: 3%;
  color: #212529;
}

.copywrite {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  margin-top: 32px;
  color: #514949;
  padding-bottom: 97px;
}
